<div>
  <img src="{{receta.foto}}" alt="...">
  <img class ="logo" *ngIf="isGlutenFree" src="/assets/img/glutenicon.png" alt="sin gluten">
  <img class ="logo" *ngIf="!isGlutenFree" src="/assets/img/gluteniconred.png" alt="con gluten">
  <h3>{{receta.nombre | uppercase}}</h3>
  <span class="cocinero">{{receta.cocinero}}</span>
</div>
     
<div class="caption ingredientes">       
        <span class="label label-primary" (click)="sumarLikes()">Likes {{receta.likes}}<i class="fa fa-heart-o" aria-hidden="true"></i></span>
       
</div>
<div>
 <p>{{ (receta.descripcion.length>150)? (receta.descripcion | slice:0:150)+'...':(receta.descripcion) }} </p>
 <p>
</div>
