row{
    padding: 20px;
}
.thumbnail{
    position: relative;
    p{
        font-size: 1em;
    }
    span.label{
        float:right;
    }
    
    

}
.logo{
    max-width: 45px;
    max-height: 45px;
    top:5px;
    right: 20px;
    position:absolute;
    border-radius: 10px;
}
img{
    width: 100%;
    border-radius: 10px;

}

.cocinero{
    font-style: italic;
    float:right;
    
}
.nombre{
    float:left;
    font-size: 2em;
}
div.ingredientes{
    h4{
        text-align: center;
        font-size: 1.6em;
        border-bottom:1px solid black;
        border-top:1px solid black;
        &:hover{
             background-color: brown;
             cursor:pointer;
        }
    }
    .numIngredientes {
        background-color: blue;
        border-radius: 50%;
        width: 2em;
        color:white;
    }
    .label{
        float: right;

    }
    span.glyphicon{
        float: right;
        margin-right: 10px;
    }
    ul{
        
        padding-left: 3em;
       
    }
    

} 
div.descripcion{
    padding-top: 2em;
    overflow: auto;
    word-wrap: break-word; // para que el parrafo no se salga del div
    p{
        max-width: 100%;
    }
    
}