<p> Ejemplo de un componente padre (<b>ConcesionarioComponent</b>) e hijo (<b>CocheComponent</b>). Aprender a pasar parametros de uno a otro a traves de @input @output</p> 

<p>soy un concesionario</p>

<!-- barra de navegacion con los nombres de los coches
<nav aria-label="Catalogo de coches">
  <ul class="pagination">
    <li *ngFor="let coche of stock" [class.active]="coche == coche1 || coche == coche2">
      <a>{{coche.marca}} {{coche.modelo}}</a>
    </li>
  </ul>  
</nav>
-->

<div class="row">

<div class="col-xs-4 col-md-2">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Catalogo de coches</h3>
  </div>
  <div class="panel-body">    
    <div class="listado">
      <!--llamada al componente hijo: en coche.componente.ts el selector es app-coche-->
            <!-- llamda componente Hijo -->
            <app-listado [stockParametro]="stock"  [c1]="coche1" [c2]="coche2"
            (eventoEmitir)="recibirCoche($event)" ></app-listado>
            <!-- al componente hijo le pasamos un parametro coche
        <app-coche [cocheParametro]="cocheIteracion"
       (cocheSeleccionado)="recibirCoche($event)"> 
      </app-coche> 
      con (cocheSeleccionado)="recibirCoche($event)"> recogemos el evento-->
    </div>
  </div>  
</div>
</div>



<div class="col-xs-8 col-md-10">
<div class="panel panel-info ">
    <div class="panel-heading">
      <h3 class="panel-title">Comparador</h3>
    </div>
    <div class="panel-body">   
      <!--llamada al componente hijo -->  
      <app-coche [c1]="coche1" [c2]="coche2">          
      </app-coche>
      <app-coche [c1]="coche2" [c2]="coche1">          
      </app-coche>
    </div>  
</div>
</div>


</div><!--row-->

