img{
    max-width: 240px;
   height: auto;
    display:block;
}
 
#cocinero label {
    display:block;
}

#nombre {
    display: block;    
}
#descripcion{
    label{
    display:block;
    }
    textarea{
        max-width: 100%;
        min-width: 100%;
        min-height: 20%;
    }

    

}