ul{
    list-style: none;
    padding-left: 1em;
   
}
li{
    border-bottom: 1.5px solid #ccc;
    padding: 1em 1em 1em;
}
.active{
    
    font-size: 1.3em;    
}

.buscar{
    padding-bottom:20px;
    #buscador{
        //margin-right: 5em;
        float: left;
    }
    #glutenFilter{
        float: right;
    }

}

#listado{
    span#añadir{
        float: right;

    }
}