<div class="row">

  <div class="col-xs-4">      
  <div class="panel panel-info" id="listado">
    <div class="panel-heading">
      <h3 class="panel-title">Lista Recetas<app-formulario></app-formulario> </h3> <!--formulario con ventana modal -->
    </div>    
    <div class="panel-body"> 
      <div class="listado"> 
      <!--  <app-listado-receta [stockParametro]="stock"  [recetaParametro]="receta" (eventoEmitir)="recibirReceta($event)">
        </app-listado-receta>  -->
        <ul>
          <li *ngFor="let r of listaRecetas |filtrosRecetas:searchText:glutenFilter"
          (click)="seleccionarReceta(r)">                  
                  
                 <!--<a [class.active]="(receta == receta1) " (click)="seleccionar($event, receta)">{{receta.nombre}} </a>-->
                <span [class.active]="(r == receta)" >{{r.nombre}}
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" *ngIf="(r == receta)" > </span>
                </span> 
           
          </li>    
        </ul>    
           
      </div> 
     
  
    </div>  <!--panel body-->
  </div>
  </div>
    
  <div class="col-xs-8">
    <div class="buscar">        
        <input [(ngModel)]="searchText" placeholder="busca receta o ingrediente" id="buscador">  
        <span class="glyphicon glyphicon-search"></span>    
        <div id="glutenFilter">
      <label for="glutenFilter">Recetas sin gluten</label>
      <input type="checkbox" [(ngModel)]="glutenFilter" name="glutenFilter" > 
    </div>
    </div>
  <div class="panel panel-info ">
      <div class="panel-heading">
        <h3 class="panel-title">Detalle Receta</h3>
      </div>
      <div class="panel-body">   
        <!--llamada al componente hijo -->  
       
        <app-receta-detalle [recetaParametro]="receta"></app-receta-detalle>
      </div>  
  </div>
  </div>
  
  
  </div><!--row-->
